<html>
<head>
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <title>Obciążenie sal</title><br />
        <style>
      #mytable input{
          width:100%;
		  background-color: #ffffff;
        }
	  #mytable
	  {
	  background-color: #e6ffff;
	  }
	  body
	  {
	  background-color: #ffffcc;
	  }
	  
	  #sel{
    width: 300px;
    height: 40px;
}
	 
	 
</style>


</head>
<body ng-app="myApp" ng-controller="MainController">

         <select id="sel" name="type" ng-model="p.type" ng-dropdown required  >
            <option ng-option value="Week">Tydzień</option>
            <option ng-option value="S1">Sala 1</option>
            <option ng-option value="S2">Sala 2</option>
            <option ng-option value="S3">Sala 3</option>
            <option ng-option value="S4">Sala 4</option>
         </select>



 
      <h1 align="center" style="color:#abcdef">Obciążenie sal</h1>
	  <h2> {{day}} </h2>

<div class="container">
     <div class="row">
      <div class="col-md-12">
			<form  id="empform"  ng-submit="submitEmployee()" >
                <div class="table-responsive" ng-if="p.type == 'Week'">

                  
                    <table  id="mytable" class="table table-bordered">

                        <thead>
                         <th style="width:15%;">Godziny</th>
                         <th style="width:15%;">Sala 1</th>
                        <th style="width:15%;">Sala 2</th>
                        <th style="width:15%;">Sala 3</th>
                        <th style="width:15%;">Sala 4</th>
						<th style="width:15%;">Edytuj obciążenie</th>                     
                        </thead>

                        <tbody>
                 
              <tr ng-repeat="emp in ttaabbllee | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" > 
                <td>
                   <input name="hour{{$index}}" ng-model="emp.hour"  ng-disabled= true />
                </td>
				<td>
                  <input   name="s1{{$index}}" ng-model="emp.s1"  ng-disabled="!enabledEdit[{{$index}}]"/>
                </td>
								<td>
                  <input   name="s2{{$index}}" ng-model="emp.s2"  ng-disabled="!enabledEdit[{{$index}}]"/>
                </td>
								<td>
                  <input   name="s3{{$index}}" ng-model="emp.s3"  ng-disabled="!enabledEdit[{{$index}}]"/>
                </td>
								<td>
                  <input   name="s4{{$index}}" ng-model="emp.s4"  ng-disabled="!enabledEdit[{{$index}}]"/>
                </td>
                <td >
                  <div class="buttons">
                    <button class="btn btn-primary" ng-click="editE($index)">Edytuj</button>
                   
                  </div>  
                </td>
              </tr>          
                        </tbody>
                    </table>
		   
                    <div class="clearfix"></div>
                 </div>
				 
				 <div class="table-responsive" ng-if="p.type == 'S1'">

                  
                    <table  id="mytable" class="table table-bordered">

                        <thead>
                         <th style="width:10%;">Godziny</th>
                         <th style="width:30%;">Sala 1</th>
						<th style="width:15%;">Edytuj obciążenie</th>                     
                        </thead>

                        <tbody>
                 
              <tr ng-repeat="emp in ttaabbllee | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" > 
                <td>
                   <input name="hour{{$index}}" ng-model="emp.hour"  ng-disabled= true />
                </td>
				<td>
                  <input   name="s1{{$index}}" ng-model="emp.s1"  ng-disabled="!enabledEdit[{{$index}}]"/>
                </td>
                <td >
                  <div class="buttons">
                    <button class="btn btn-primary" ng-click="editE($index)">Edytuj</button>                   
                  </div>  
                </td>
              </tr>              
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                 </div>
				 
				  <div class="table-responsive" ng-if="p.type == 'S2'">

                  
                    <table  id="mytable" class="table table-bordered">

                        <thead>
                         <th style="width:10%;">Godziny</th>
                         <th style="width:30%;">Sala 2</th>
						<th style="width:15%;">Edytuj obciążenie</th>                     
                        </thead>

                        <tbody>
                 
              <tr ng-repeat="emp in ttaabbllee | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" > 
                <td>
                   <input name="hour{{$index}}" ng-model="emp.hour"  ng-disabled= true />
                </td>
				<td>
                  <input   name="s2{{$index}}" ng-model="emp.s2"  ng-disabled="!enabledEdit[{{$index}}]"/>
                </td>
                <td >
                  <div class="buttons">
                    <button class="btn btn-primary" ng-click="editE($index)">Edytuj</button>                   
                  </div>  
                </td>
              </tr>              
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                 </div>
				 
				  <div class="table-responsive" ng-if="p.type == 'S3'">

                  
                    <table  id="mytable" class="table table-bordered">

                        <thead>
                         <th style="width:10%;">Godziny</th>
                         <th style="width:30%;">Sala 3</th>
						<th style="width:15%;">Edytuj obciążenie</th>                     
                        </thead>

                        <tbody>
                 
              <tr ng-repeat="emp in ttaabbllee | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" > 
                <td>
                   <input name="hour{{$index}}" ng-model="emp.hour"  ng-disabled= true />
                </td>
				<td>
                  <input   name="s3{{$index}}" ng-model="emp.s3"  ng-disabled="!enabledEdit[{{$index}}]"/>
                </td>
                <td >
                  <div class="buttons">
                    <button class="btn btn-primary" ng-click="editE($index)">Edytuj</button>                   
                  </div>  
                </td>
              </tr>              
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                 </div>
				 
				  <div class="table-responsive" ng-if="p.type == 'S4'">

                  
                    <table  id="mytable" class="table table-bordered">

                        <thead>
                         <th style="width:10%;">Godziny</th>
                         <th style="width:30%;">Sala 4</th>
						<th style="width:15%;">Edytuj obciążenie</th>                     
                        </thead>

                        <tbody>
                 
              <tr ng-repeat="emp in ttaabbllee | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" > 
                <td>
                   <input name="hour{{$index}}" ng-model="emp.hour"  ng-disabled= true />
                </td>
				<td>
                  <input   name="s4{{$index}}" ng-model="emp.s4"  ng-disabled="!enabledEdit[{{$index}}]"/>
                </td>
                <td >
                  <div class="buttons">
                    <button class="btn btn-primary" ng-click="editE($index)">Edytuj</button>                   
                  </div>  
                </td>
              </tr>              
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                 </div>
				 
				 
				 
				 	<button  class="btn btn-sm btn-success" ng-click="clickpageprev()">Poprzedni dzień</button>
					<button  class="btn btn-sm btn-success" ng-click="clickpagenext()">Następny dzień</button>
					
					<br/><br/>
					
                      <input type="submit" class="btn btn-primary" ng-click="submit()" value="Zapisz" />
					
					  
                   </form>
				 

            </div>
  
  </div>

 
</body>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

   
</html>